body {
    background-color: #fdfcfb;
    color: #333;
}
.bg-brand {
    background-color: #4a0e0e !important;
}
.text-brand {
    color: #4a0e0e !important;
}
.btn-brand {
    background-color: #4a0e0e;
    color: white;
    border: none;
}
.btn-brand:hover {
    background-color: #300a0a;
    color: white;
}
.hero-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/static/img/01_cozy_interior copy.webp") center/cover no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px 0;
}
footer {
    background-color: #4a0e0e;
    color: white;
    padding: 2rem 0;
}
.card {
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 15px;
}
.card:hover {
    transform: translateY(-5px);
}
.gallery-img {
    height: 250px;
    object-fit: cover;
}
